.imgmodelos {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .parent p {
    background-color: #f3f3f3;
    color: #c70000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  iframe {
    display: block;
    margin: auto;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c70000;
  }
